body {
    background-image: url("img/1_zVDcaM6mqhi9m0LP_Sq4Ag.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightslategray;
}

body div a img {
    width:128px;
    height: 54px;
}

.body .form div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    margin: 100px 0px 25px 0px;
}

.login-form {
    margin: 25px 0px 0px 0px;
}

button {
    margin: 25px 0px 25px 0px;
}